<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PreAddTech.SettingsUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="PreAddTech.Settings_AT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PreAddTech.Properties.Settings.Base_varConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Base_var.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
        <add name="PreAddTech.Properties.Settings.VarModelsConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VarModels.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <PreAddTech.SettingsUser>
            <setting name="FoxProPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\0_VFP9\vfp9.exe</value>
            </setting>
            <setting name="BookPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Book\Book.app</value>
            </setting>
            <setting name="Base_TriPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Base_Tri\Base_Tri.app</value>
            </setting>
            <setting name="Anal_MorPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Anal_Mor\Anal_Mor.app</value>
            </setting>
            <setting name="RP_TechnPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\RP_Techn\RP_Techn.app</value>
            </setting>
            <setting name="Stat_Mod" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Stat_Mod\Stat_Mod.app</value>
            </setting>
            <setting name="GLC_PlayerPuth" serializeAs="String">
                <value>d:\App_0P\GLC_Player_2_2_0\glc_player.exe</value>
            </setting>
            <setting name="MagicsPuth" serializeAs="String">
                <value>C:\Program Files\Materialise\Materialise Magics 21.0\Magics.exe</value>
            </setting>
            <setting name="ExcelPath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Office\Office12\EXCEL.EXE</value>
            </setting>
            <setting name="RoundingKoord" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="PositionResolution" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Multithreading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameEquipment" serializeAs="String">
                <value>Vanguard Si2 SLS</value>
            </setting>
            <setting name="SafeDistanceBody" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SafeDistanceBorder" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WorkXmax" serializeAs="String">
                <value>190.5</value>
            </setting>
            <setting name="WorkXmin" serializeAs="String">
                <value>-190.5</value>
            </setting>
            <setting name="WorkYmax" serializeAs="String">
                <value>165.1</value>
            </setting>
            <setting name="WorkYmin" serializeAs="String">
                <value>-167.64</value>
            </setting>
            <setting name="WorkZmax" serializeAs="String">
                <value>457.2</value>
            </setting>
            <setting name="WorkZmin" serializeAs="String">
                <value>-2.54</value>
            </setting>
            <setting name="WorkHeight" serializeAs="String">
                <value>460</value>
            </setting>
            <setting name="WorkLength" serializeAs="String">
                <value>381</value>
            </setting>
            <setting name="WorkWidth" serializeAs="String">
                <value>333</value>
            </setting>
        </PreAddTech.SettingsUser>
        <PreAddTech.Settings_AT>
            <setting name="FoxProPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\0_VFP9\vfp9.exe</value>
            </setting>
            <setting name="BookPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Book\Book.app</value>
            </setting>
            <setting name="Base_TriPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Base_Tri\Base_Tri.app</value>
            </setting>
            <setting name="Anal_MorPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Anal_Mor\Anal_Mor.app</value>
            </setting>
            <setting name="RP_TechnPath" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\RP_Techn\RP_Techn.app</value>
            </setting>
            <setting name="Stat_Mod" serializeAs="String">
                <value>d:\Vfp50_D_Out_User\Stat_Mod\Stat_Mod.app</value>
            </setting>
            <setting name="GLC_PlayerPuth" serializeAs="String">
                <value>d:\App_0P\GLC_Player_2_2_0\glc_player.exe</value>
            </setting>
            <setting name="MagicsPuth" serializeAs="String">
                <value>C:\Program Files\Materialise\Materialise Magics 21.0\Magics.exe</value>
            </setting>
            <setting name="ExcelPath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft Office\Office12\EXCEL.EXE</value>
            </setting>
            <setting name="RoundingKoord" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="PositionResolution" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="Multithreading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NameEquipment" serializeAs="String">
                <value>Vanguard Si2 SLS</value>
            </setting>
            <setting name="SafeDistanceBody" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SafeDistanceBorder" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="WorkXmax" serializeAs="String">
                <value>190.5</value>
            </setting>
            <setting name="WorkXmin" serializeAs="String">
                <value>-190.5</value>
            </setting>
            <setting name="WorkYmax" serializeAs="String">
                <value>165.1</value>
            </setting>
            <setting name="WorkYmin" serializeAs="String">
                <value>-167.64</value>
            </setting>
            <setting name="WorkZmax" serializeAs="String">
                <value>457.2</value>
            </setting>
            <setting name="WorkZmin" serializeAs="String">
                <value>-2.54</value>
            </setting>
            <setting name="WorkHeight" serializeAs="String">
                <value>460</value>
            </setting>
            <setting name="WorkLength" serializeAs="String">
                <value>381</value>
            </setting>
            <setting name="WorkWidth" serializeAs="String">
                <value>333</value>
            </setting>
        </PreAddTech.Settings_AT>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
